<header fxLayout="row" fxLayoutAlign="space-between end">
    <div class="title">
        <span class="first-name">{{profile.firstName}}</span>
        <span class="last-name">{{profile.lastName}}</span>
    </div>
    <nav>
        <ul fxLayout="row" id="nav">
            <li>
                <a>Home</a>
            </li>
            <li>
                <a>About</a>
            </li>
        </ul>
    </nav>
</header>

<div fxLayout="row" fxLayoutAlign="center center">Under construction...</div>