.color-primary {
	color: $theme-primary;
}

.color-accent {
	color: $theme-accent;
}

.color-warn {
	color: $theme-warn;
}

.color-background {
	color: $theme-background;
}

.color-foreground {
	color: $theme-foreground;
}

.bg-color-primary {
	background-color: $theme-primary;
}

.bg-color-accent {
	background-color: $theme-accent;
}

.bg-color-warn {
	background-color: $theme-warn;
}

.bg-color-background {
	background-color: $theme-background;
}

.bg-color-foreground {
	background-color: $theme-foreground;
}