@font-face {
  font-family: 'Circular STD';
  font-style: normal;
  font-weight: 400;
  src:
  url(/assets/fonts/circular-std-medium.otf) 
  format('opentype');
}

@font-face {
  font-family: 'Circular STD';
  font-style: italic;
  font-weight: 400;
  src:
  url(/assets/fonts/circular-std-medium-italic.otf) 
  format('opentype');
}

@font-face {
  font-family: 'Circular STD';
  font-style: normal;
  font-weight: 700;
  src:
  url(/assets/fonts/circular-std-bold.otf) 
  format('opentype');
}

@font-face {
  font-family: 'Circular STD';
  font-style: italic;
  font-weight: 700;
  src:
  url(/assets/fonts/circular-std-bold-italic.otf) 
  format('opentype');
}

@font-face {
  font-family: 'Circular STD';
  font-style: normal;
  font-weight: 900;
  src:
  url(/assets/fonts/circular-std-black.otf) 
  format('opentype');
}

@font-face {
  font-family: 'Circular STD';
  font-style: italic;
  font-weight: 900;
  src:
  url(/assets/fonts/circular-std-black-italic.otf) 
  format('opentype');
}

@font-face {
  font-family: 'Circular STD';
  font-style: normal;
  font-weight: 200;
  src:
  url(/assets/fonts/circular-std-book.otf) 
  format('opentype');
}

@font-face {
  font-family: 'Circular STD';
  font-style: italic;
  font-weight: 200;
  src:
  url(/assets/fonts/circular-std-book-italic.otf) 
  format('opentype');
}