// Normal font sizes

$font-size-xxxl: 2rem;
$font-size-xxl: 1.5rem;
$font-size-xl: 1.25rem;
$font-size-lg: 1.125rem;
$font-size-md: 1rem;
$font-size-sm: 0.9375rem;
$font-size-xs: 0.875rem;
$font-size-xxs: 0.8125rem;
$font-size-xxxs: 0.75rem;


// Large font sizes
$large-font-size-lg: 6rem;
$large-font-size-md: 4.8rem;
$large-font-size-sm: 3.6rem;
$large-font-size-xs: 3.2rem;


// Font weights

$font-weight-lightest: 200;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-boldest: 900;