// Theme colors

$theme-primary: #787e62;
$theme-primary-light: #b1bc91;
$theme-primary-dark: #282a1c;

$theme-accent: #404240;
$theme-accent-dark: #1E1F1D;
$theme-accent-light: #717571;

$theme-warn: #BCC2BB;
$theme-warn-dark: #979C96;
$theme-warn-light: #E1E8DF;

/* $theme-primary: #22B49C;
$theme-primary-dark: #187D6C;
$theme-primary-light: #30FCDB;

$theme-accent: #4391BF;
$theme-accent-dark: #316A8C;
$theme-accent-light: #59C1FF;

$theme-warn: #BD4A38;
$theme-warn-dark: #7D3125;
$theme-warn-light: #E77173;

$theme-foreground: #2E424E; */

$theme-foreground: #0A0A0A;
$theme-background: #ffffff;