@import '~sass/styles.scss';

#about {
    background-color: $theme-dark-dark;
    background: repeating-linear-gradient(
        45deg,
        $theme-dark-dark,
        $theme-dark-dark 2px,
        $theme-dark 2px,
        $theme-dark 4px
    );
    color: $theme-background;
    padding: 2rem;
}

ul {
    padding: 0.25em 0;
    margin: 0;
    color: $theme-light;
    font-size: $font-size-lg;
}

li {
    padding: 0;
    list-style: none;
}

a {
    cursor: pointer;
    display: block;
    padding: 8px 2px;
    margin: 0 10px;
    color: inherit;
    text-decoration: none;
    outline: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    font-family: 'PT Mono', 'Courier New', Courier, monospace;

    &:hover {
        color: $theme-primary;
        border-top: 2px solid $theme-primary;
        border-bottom: 2px solid $theme-primary;
    }

    &.active {
        color: $theme-primary;
        border-bottom: 2px solid $theme-primary;
    }
}