@import '~sass/styles.scss';

.vector {
    flex-wrap: wrap;
    justify-content: center;
    padding: 4px;
}

.vector-container {
    margin: 4px;
    overflow: hidden;
}

.vector {
    cursor: pointer;
    width: 20rem;
    height: 15rem;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

.vector {
    transition: transform $transition-time linear;

    &:hover {
        transform: scale(1.1);
    }
}