<div class="header-nav" fxLayout="row" fxLayoutAlign="space-between end">
  <div class="header-nav__title">
    <span class="header-nav__first-name">{{firstName}}</span>
    <span class="header-nav__last-name">{{lastName}}</span>
  </div>
  <nav class="header-nav__nav">
    <ul class="header-nav__list" fxLayout="row" id="nav">
      <li class="header-nav__list__item">
        <a
          class="header-nav__link"
          routerLink="/home"
          routerLinkActive="header-nav__link--active"
          [routerLinkActiveOptions]="{ match: ['/home'] }">Home</a>
      </li>
      <li class="header-nav__list__item">
        <a
          class="header-nav__link"
          routerLink="/project"
          routerLinkActive="header-nav__link--active"
          [routerLinkActiveOptions]="{ match: ['/project'] }">Projects</a>
      </li>
      <li class="header-nav__list__item">
        <a
          class="header-nav__link"
          routerLink="/about"
          routerLinkActive="header-nav__link--active"
          [routerLinkActiveOptions]="{ match: ['/about'] }">About</a>
      </li>
    </ul>
  </nav>
</div>