<div fxLayout="row" fxLayoutAlign="space-between end">
    <div class="title">
        <span class="first-name">{{profile.firstName}}</span>
        <span class="last-name">{{profile.lastName}}</span>
    </div>
    <nav>
        <ul fxLayout="row" id="nav">
            <li>
                <a
                    routerLink="/home"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ match: ['/home'] }">Home</a>
            </li>
            <li>
                <a
                    routerLink="/about"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ match: ['/about'] }">About</a>
            </li>
        </ul>
    </nav>
</div>