@import '~scss/styles.scss';

.footer-list {
  padding: 0.25em 0;
  margin: 0;

  &__item {
    padding: 0;
    list-style: none;
  }

  &__link {
    cursor: pointer;
    display: block;
    padding: 2px;
    margin: 0 10px;
    text-decoration: none;
    outline: none;
    color: $theme-dark-light;
    line-height: $font-size-md;
    font-size: $font-size-xxs;

    &:hover {
      color: $theme-primary;
    }
  }
}
