@import '~scss/styles.scss';

.sidebar {
  &__list {
    max-width: 70px;
    padding: 0;
    margin: 0.5rem 0;
    border-radius: 4px;
    color: $theme-light;
    font-size: $font-size-xs;
    font-stretch: extra-condensed;
    background-color: $theme-dark;

    &__item {
      padding: 0;
      list-style: none;
    
      &:not(:last-child) {
        border-bottom: 1px solid $theme-dark-dark;
      }

      &__link {
        cursor: pointer;
        display: block;
        padding: 8px;
        margin: 0;
        color: inherit;
        text-decoration: none;
        outline: none;
        border-left: 5px solid transparent;
      
        &:hover {
          color: $theme-primary;
        }
      
        &.active {
          color: $theme-primary;
          border-left: 5px solid $theme-primary;
        }
      }
    }
  }
}
