@import '~sass/styles.scss';

.box {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: $theme-dark;
    border-radius: 4px;

    > * {
        padding: 0.5rem;
    }
}

h5 {
    font-size: $font-size-sm;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    color: $theme-primary;
    border-bottom: 1px solid $theme-primary;
}

.image-container {
    background-color: $theme-primary-dark;
    height: 220px;
    width: 220px;
    padding: 4px;
    border-radius: 50%;
}

img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.overview {
    width: 100%;
}