<div class="wrapper">
    <div fxLayout="row">
        <as-profile-box>
            <div class="image-container">
                <div class="image">
                    <img [src]="image" alt="Profile image" />
                </div>
            </div>
        </as-profile-box>
        <div class="overview" fxLayout="column" fxLayoutAlign="start stretch">
            <as-profile-box>
                <ng-content select="as-profile-title"></ng-content>
            </as-profile-box>
            <as-profile-box>
                <ng-content select="as-profile-details"></ng-content>
            </as-profile-box>
        </div>
    </div>
</div>