@import '~scss/styles.scss';

.wrapper {
  max-width: 920px;
  margin: auto;
}

div[as-profile-title] {
  font-size: $font-size-xxxl;

  .company {
    color: $theme-light;
  }
}

div[as-profile-details] {
  mat-icon {
    margin-right: 1em;
  }

  .detail-items {
    flex-wrap: wrap;
  }

  .detail-item {
    padding: 0.25em;
    font-size: $font-size-xs;
    margin-right: 1em;
  }

  mat-icon {
    height: 16px;
    width: 16px;
  }
}

p {
  line-height: 1.4;
  padding: 0.5rem;
}

li {
  line-height: 1.4;
  padding: 0.5rem;
  list-style-type: disc;
  margin-left: 1.5rem;
}

.tools-container {
  flex-wrap: wrap;
}

.tool {
  width: 12.5rem;
  padding: 0.4rem 1.6rem;
}