<div id="project">
    <!-- <ul fxLayout="row" fxLayoutAlign="center center" id="nav">
        <li>
            <a
                [routerLink]="['overview']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Overview</a>
        </li>
        <li>
            <a
                [routerLink]="['screens']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Screenshots</a>
        </li>
    </ul>
    <router-outlet></router-outlet> -->
    <as-project-overview></as-project-overview>
    <as-project-screens></as-project-screens>
</div>