$content-padding-xs-vertical:		1.5em;
$content-padding-xs-horizontal: 	1.5em;

$content-padding-sm-vertical:		2em;
$content-padding-sm-horizontal:		3em;

$content-padding-md-vertical:		3em;
$content-padding-md-horizontal:		6em;

$content-padding-lg-vertical:		3em;
$content-padding-lg-horizontal:		6em;


// Extra small screen
@media (max-width: $layout-breakpoint-xs - 1) {
	.content-padding {
		padding: $content-padding-xs-vertical $content-padding-xs-horizontal;
	}

	.content-padding-vertical {
		padding-top: $content-padding-xs-vertical;
		padding-bottom: $content-padding-xs-vertical;
	}

	.content-padding-horizontal {
		padding-left: $content-padding-xs-horizontal;
		padding-right: $content-padding-xs-horizontal;
	}
}


// Small screen
@media (min-width: $layout-breakpoint-xs) {
	.content-padding {
		padding: $content-padding-sm-vertical $content-padding-sm-horizontal;
	}

	.content-padding-vertical {
		padding-top: $content-padding-sm-vertical;
		padding-bottom: $content-padding-sm-vertical;
	}

	.content-padding-horizontal {
		padding-left: $content-padding-sm-horizontal;
		padding-right: $content-padding-sm-horizontal;
	}
}


// Medium screen
@media (min-width: $layout-breakpoint-sm) {
	.content-padding {
		padding: $content-padding-md-vertical $content-padding-md-horizontal;
	}

	.content-padding-vertical {
		padding-top: $content-padding-md-vertical;
		padding-bottom: $content-padding-md-vertical;
	}

	.content-padding-horizontal {
		padding-left: $content-padding-md-horizontal;
		padding-right: $content-padding-md-horizontal;
	}
}


// Large screen
@media (min-width: $layout-breakpoint-md) {
	.content-padding {
		padding: $content-padding-lg-vertical $content-padding-lg-horizontal;
	}

	.content-padding-vertical {
		padding-top: $content-padding-lg-vertical;
		padding-bottom: $content-padding-lg-vertical;
	}

	.content-padding-horizontal {
		padding-left: $content-padding-lg-horizontal;
		padding-right: $content-padding-lg-horizontal;
	}
}